<div class="container">
  <div class="row">
  <div class="col-md-12">
    <div class="row pull-right" *ngIf="!isLoggedIn()">
      <span routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >
          <a href="#" 
              routerLink="/sign-in">Sign-in</a> |
      </span>
      <span routerLinkActive="active">
        <a href="#" 
          routerLink="/sign-up">Sign-up</a>
      </span>
    </div>
    <div class="row pull-right" *ngIf="isLoggedIn()">
        <a href="#" routerLink="/home">Home</a> |
        <a href="#" (click)="onLogout()">Logout</a>
    </div>
  </div>
  </div>
</div>
<router-outlet></router-outlet>